spring:
  profiles:
    #active: prod
    active: dev

---
spring:
  profiles: prod
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
  datasource:
    url: jdbc:mysql://{RDS_ENDPOINT}:3306/project?useSSL=false&characterEncoding=UTF-8&serverTimezone=UTC
    username: admin
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
#config:
#  domain: {}
---
spring:
  profiles: dev
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:mem:test
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      data-locations: classpath*:db/h2/data.sql
  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 1MB
---
logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG
server:
  servlet:
    encoding:
      force-response: true
jwt:
  key: ${JWT_SECRET_KEY}
  access-token-expiration-minutes: 480
  refresh-token-expiration-minutes: 480
cloud:
  aws:
    s3:
      bucket:
    credentials:
      access-key: ${ACCESS-KEY}
      secret-key: ${SECRET-KEY}
    region:
      static: ap-northeast-2
      auto: false
    stack:
      auto: false